:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --active-accent-color: #188CE8;
    --primary-white-color: #FFFFFF;
    --primary-black-color: #000000;
    --logo-font: 'Raleway', sans-serif;
    --secondary-bcg-color: #2F303A;
    --primary-grey-color: #F5F4FA;
    --opacity-white: rgba(255, 255, 255, 0.6);
    --border-color: #EEEEEE;
    --header-border: #ECECEC;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-white-color);
    letter-spacing: 0.03em;
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.subtitle {
    margin-bottom: 10px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.logo-header,
.logo-footer, 
.logo-black, 
.logo-white {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-header {
    margin-right: 93px;
}

.logo-header, .logo-footer {
    color: var(--accent-color);
}
.logo-black {
    color: var(--primary-black-color);
}

.logo-white {
    color: var(--primary-white-color);
}

.menu .menu-link.current {
    color: var(--accent-color);
}

.page-header-container,
.page-navigation-container,
.contacts-container {
    display: flex;
    align-items: center;
}

.menu-container {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.page-header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--header-border);
}

.menu-link, 
.page-header-email,
.page-header-phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.menu-link {
    color: var(--primary-text-color);
}

.page-header-contacts {
    margin-left: auto;
}

.page-header-contacts-item:not(:last-child) {
    margin-right: 50px;
}

.page-header-email,
.page-header-phone-number {
    color: var(--secondary-text-color);
}

.menu-link:hover,
.menu-link:focus,
.page-header-email:hover,
.page-header-email:focus,
.page-header-phone-number:hover,
.page-header-phone-number:focus {
    color: var(--accent-color);
}

.hero {
    background-color: var(--secondary-bcg-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    display: flex;
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
    color: var(--primary-white-color);
}

.modal-open-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.modal-open-btn:hover,
.modal-open-btn:focus {
    color: var(--primary-white-color);
    background-color: var(--active-accent-color);
}

.advantages-list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.advantages-item {
    flex-basis: calc((100% - 90px) / 4);
}

.advantages-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.advantages-desc {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}

.gallery {
    padding-bottom: 94px;
}

.gallery-list {
    display: flex;
    justify-content: space-between;
}

.team {
    background-color: var(--primary-grey-color);
    padding-bottom: 94px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.team-item {
    background-color: var(--primary-white-color);
    text-align: center;
    border-radius: 4px;
}

.team-item-info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color);
}

.team-desc {
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-text-color);
}

.page-footer {
    background-color: var(--secondary-bcg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-info {
    margin-top: 20px;
}

.footer-info-item:not(:last-child) {
    margin-bottom: 9px;
}

.location,
.page-footer-email,
.page-footer-phone-number {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--opacity-white);
}

.location:hover,
.location:focus,
.page-footer-email:hover,
.page-footer-email:focus,
.page-footer-phone-number:hover,
.page-footer-phone-number:focus {
    color: var(--primary-white-color);
}

.portfolio {
    padding-bottom: 94px;
}

.filter-list {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.filter-item-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.66;
    text-align: center;
    padding: 6px 22px;
    border-radius: 4px;
    color: var(--primary-text-color);
    background-color: var(--primary-grey-color);
    cursor: pointer;
    border: 0;
}

.filter-item-btn:hover,
.filter-item-btn:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.portfolio-item {
    flex-basis: calc((100% - 60px) / 3);

}

.portfolio-item-info {
    padding: 20px 24px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.portfolio-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--primary-text-color);
}

.portfolio-desc {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color);
}

